$bg-dark: #0f1217;
$bg-shade: rgba(15, 18, 23, 0.902);
$col-secondary: #ff4b00;
$light-grey: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$bg-gradient-1: linear-gradient(
  80deg,
  rgba(15, 18, 23, 1) 0%,
  rgba(15, 18, 23, 1) 90%
);
