@import "./../../sass/index.scss";
.contact {
  background: $bg-dark;
  background: $bg-gradient-1;
  color: #fff;
  min-height: 100vh;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    @media screen and (max-width: 830px) {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      padding-block: 40px;
    }
  }
  &-details {
    flex: 2;
    width: 50%;
    padding-left: 6%;
    @media screen and (max-width: 1250px) {
      width: 50%;
      padding-left: 3%;
    }
    @media screen and (max-width: 830px) {
      padding-left: 0%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      width: 90%;
    }

    &_head {
      font-family: $third;
      font-size: 80px;
      @media screen and (max-width: 1250px) {
        font-size: 60px;
      }
      span {
        display: block;
        color: $col-secondary;
      }
    }
    &_list {
      margin-left: 10px;
      @media screen and (max-width: 600px) {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
      }

      li {
        display: flex;
        align-items: center;
        margin-block: 20px;
        font-size: 20px;
        font-weight: 300;
        @media screen and (max-width: 500px) {
          margin-block: 10px;
        }
      }
      &_icon {
        margin-right: 10px;
      }
    }
  }
  &-form {
    flex: 2;
    @media screen and (max-width: 830px) {
      width: 90%;
    }
    &_head {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);
      margin-block: 10px;
      font-style: italic;
    }
    form {
      width: 50%;
      @media screen and (max-width: 1250px) {
        width: 60%;
      }
      @media screen and (max-width: 830px) {
        width: 90%;
        margin: 0 auto;
      }
    }

    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
    }

    .form__field {
      font-family: $main;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #9b9b9b;
      outline: 0;
      color: $white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form__label {
        font-size: 16px;
        cursor: text;
        top: 20px;
        color: #9b9b9b;
      }
    }

    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-weight: 300;
      color: $col-secondary;
    }

    .form__field:focus {
      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 14px;
        color: $col-secondary;
        font-weight: 300;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 2px;
      border-color: $col-secondary;
    }
    // /* reset input */
    // .form__field {
    //   &:required,
    //   &:invalid {
    //     box-shadow: none;
    //   }
    // }
    &_button {
      background-color: $col-secondary;
      width: 100%;
      padding: 10px;
      color: $main;
      font-weight: 500;
      font-family: $secondary;
      font-size: 24px;
    }
  }
}
