@import "./../../sass/index.scss";
.quote {
  background: $bg-dark;
  background: $bg-gradient-1;
  height: 100vh;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    font-weight: 200;
    margin: 0 auto;
    span {
      color: $col-secondary;
      font-weight: 600;
    }
    @media only screen and (max-width: 450px) {
      & {
        font-size: 50px !important;
      }
    }
  }
}
