@import "./../../sass/index.scss";
.quote {
  background: $bg-dark;
  background: $bg-gradient-1;
  height: 100%;

  &-wrapper {
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -80%);
      color: #fff;
      font-size: 60px;
      font-weight: 200;
      margin: 0 auto;
      span {
        color: $col-secondary;
        font-weight: 600;
      }
    }
  }
}
