@import "./../../sass/index.scss";
.experience {
  position: relative;
  background: #fff;
  min-height: 100vh;
  width: 80%;
  display: grid;
  place-content: center;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    width: 90%;
    padding-block: 20%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $secondary;
    margin-bottom: 40px;

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_heading {
      font-size: 80px;
      font-weight: 600;
    }
    &_para {
      font-size: 18px;
      font-family: $main;
      color: $light-grey;
    }
    &_year {
      font-size: 100px;
      margin-right: 60px;
      font-weight: 600;
      color: $light-grey;
      @media only screen and (max-width: 595px) {
        display: none;
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 94%;
    min-height: 100%;
    margin-bottom: 40px;
    grid-gap: 50px;

    @media only screen and (max-width: 1700px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &-card {
    min-height: 50vh;
    display: grid;
    grid-template-rows: 3fr 0.8fr 0.8fr 0.8fr 1fr;
    padding: 40px;
    width: 340px;
    border: 1px solid rgba(135, 134, 134, 0.4);
    position: relative;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;

    &:hover {
      transform: translateY(-10px);

      &::after {
        background-color: rgba($col-secondary, 0.4);
        opacity: 1;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 340px;
      height: 2px;
      background-color: rgba(135, 134, 134, 0.2);
      opacity: 0.1;
      position: absolute;
      bottom: -50px;
      left: 0;
      transition: all 0.5s ease-in-out;
      @media only screen and (max-width: 1000px) {
        width: 300px;
        bottom: -30px;
      }
    }
    @media only screen and (max-width: 1700px) {
      min-height: 400px;
    }
    @media only screen and (max-width: 1000px) {
      width: 300px;
    }

    &_heading {
      font-family: $secondary;
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }
    &_company {
      font-size: 16px;
      font-weight: 700;
    }
    &_place {
      font-weight: 300;
    }
    &_duration {
      font-weight: 500;
      font-style: italic;
    }
    &_button {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      border: none;
      background-color: $col-secondary;
      color: $white;
      border-radius: 2px;
    }
  }
}
