@import "./../../sass/index.scss";
.experience {
  position: relative;
  background: #fff;
  min-height: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $secondary;
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_heading {
      font-size: 80px;
      font-weight: 600;
    }
    &_para {
      font-size: 18px;
      font-family: $main;
      color: $light-grey;
    }
    &_year {
      font-size: 100px;
      margin-right: 60px;
      font-weight: 600;
      color: $light-grey;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 94%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    min-height: 100%;
    margin-bottom: 40px;
    grid-gap: 50px;

    // @media only screen and (min-width: 1440px) {
    //   grid-template-columns: 1fr 1fr;
    // }
  }
  &-card {
    min-height: 50vh;
    display: grid;
    grid-template-rows: 3fr 0.8fr 0.8fr 0.8fr 1fr;
    padding: 40px;
    width: 340px;
    border: 1px solid rgba(135, 134, 134, 0.4);
    position: relative;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;

    &:hover {
      transform: translateY(-10px);
      //box-shadow: 0px 0px 10px rgba($col-secondary, 0.8);

      &::after {
        background-color: rgba($col-secondary, 0.4);
        //box-shadow: 0px 0px 10px rgba($col-secondary, 0.8);
        opacity: 1;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 340px;
      height: 2px;
      background-color: rgba(135, 134, 134, 0.2);
      opacity: 0.1;
      position: absolute;
      bottom: -50px;
      left: 0;
      transition: all 0.5s ease-in-out;

      //border: 2px solid rgba(255, 255, 255, 1);
    }

    &_heading {
      font-family: $secondary;
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }
    &_company {
      font-size: 16px;
      font-weight: 700;
    }
    &_place {
      font-weight: 300;
    }
    &_duration {
      font-weight: 500;
      font-style: italic;
    }
    &_button {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      border: none;
      background-color: $col-secondary;
      color: $white;
      border-radius: 2px;
    }
  }
}
